.form {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
    box-sizing: border-box;
    background-color: #d3c1a2;
    outline: 3px solid #c5ac84;
    outline-offset: 3px;

    &::before {
        content: "";
        position: absolute;
        width: 280px;
        height: 22px;
        background-image: url(".././img/decor-up.svg");
        background-size: cover;
        top: -30px;
        left: 0px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 280px;
        height: 22px;
        background-image: url(".././img/decor-up.svg");
        background-size: cover;
        transform: rotate(180deg);
        top: 204px;
        left: 0;
    }


    @media(min-width:@tablet-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;

        &::before,
        &::after {
            left: 50%;
        }

        &::before {
            top: -25px;
            transform: translateX(-50%);
        }

        &::after {
            transform: translateX(-50%) rotate(180deg);
            top: 51px;
        }
    }

    @media(min-width:@desktop-base-width) {
        width: 1100px;
        height: 48px;
        padding-right: 326px;
        padding-left: 86px;
    }

    @media(min-width:@desktop-max-width) {
        left: 30px;
        padding-left: 58px;
        padding-right: 425px;
        width: 1400px;
        height: 64px;

        &::before {
            content: "";
            position: absolute;
            width: 508px;
            height: 44px;
            background-image: url(".././img/decor-up.svg");
            top: -43px;
            left: 289px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 508px;
            height: 44px;
            background-image: url(".././img/decor-up.svg");
            transform: rotate(180deg);
            top: 62px;
            left: 289px;
        }

    }
}

.form__title {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 18px;
    font-family: @font--additional;
    font-weight: 400;
    text-align: center;

    @media(min-width:@desktop-base-width) {
        font-size: 22.5px;
    }

    @media(min-width:@desktop-max-width) {
        font-size: 30px;
    }
}

.form__label {
    position: relative;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 30px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 10px;
    text-align: center;

    &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(".././img/icon-calendar.svg");
        background-repeat: no-repeat;
        background-size: cover;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    @media(min-width:@tablet-width) {
        flex-basis: 119px;
        padding: 0;
        padding-left: 35px;
        margin: 0;

        &::before {
            left: 13px;
        }
    }

    @media(min-width:@desktop-max-width) {}
}

.form__label--guests {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 75px;
    margin-left: auto;
    margin-right: auto;

    &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 14px;
        background-image: url(".././img/icon-user.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media(min-width:@tablet-width) {
        flex-basis: 75px;
        margin: 0;
    }
}

.form__input {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    // margin-left: 10px;

    @media(min-width:@desktop-base-width) {
        max-width: 75px;
        font-size: 13px;
    }

    @media(min-width:@desktop-max-width) {
        max-width: 115px;
        font-size: 18px;
    }
}

// .form__input--guests {
//     // max-width: 40px;
// }

.form__button {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 11px;
    width: 180px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;

    border-radius: 3px;
    background-color: rgb(251, 212, 7);
    box-shadow: 0px 5px 6px 0px rgba(87, 91, 124, 0.45);

    @media(min-width:@tablet-width) {
        width: 135px;
        font-size: 13.5px;
    }

    @media(min-width:@desktop-base-width) {}

    @media(min-width:@desktop-max-width) {
        width: 180px;
    }
}