.page__nav {
    flex-basis: 950px;
    flex-grow: 0;
    flex-shrink: 0;
}

.nav {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    text-decoration: none;
    text-transform: uppercase;
    font-family: @font--additional;
    font-size: 24px;
    color: #1d1d1b;
}

.nav__item--tel {
    display: block;
    border: 1px solid #c7af8a;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 10px;
}