.main__wrapper {
    flex-basis: 1010px;
    flex-grow: 0;
    flex-shrink: 1;
}

.main__title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    padding-right: 250px;
    padding-bottom: 85px;
    font-family: @font--additional;
    color: #444444;
}

.main__subtitle {
    padding-left: 60px;
    font-size: @font-size*3.4;
}

.main__slogan {
    align-self: flex-end;
    font-size: @font-size*5.1;
    font-weight: 300;
}

.offer {
    margin: 0 auto;
    width: 370px;
    font-family: @font--base;
    
}
.main__price{
    color: #c7af8a;
    text-transform: lowercase;
    font-size: 16.42px;
}